[

 ; Transactions
 {:db/id #db/id[:db.part/db]
  :db/ident :transaction/amount
  :db/valueType :db.type/bigint
  :db/cardinality :db.cardinality/one
  :db/doc "The transaction's amount"}

 {:db/id #db/id[:db.part/db]
  :db/ident :transaction/installments
  :db/valueType :db.type/bigint
  :db/cardinality :db.cardinality/one
  :db/doc "The number of installments for this transaction"}

 {:db/id #db/id[:db.part/db]
  :db/ident :transaction/recipient
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "The transaction's target recipient"}


  ; Recipients
 {:db/ident :recipient/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The recipient's name"}

 {:db/ident :recipient/cnpj
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The recipient's CNPJ"}

 {:db/ident :recipient/balances
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "The recipient's balance ref"}


 ; Balance
 {:db/id #db/id[:db.part/db]
  :db/ident :balance/amount
  :db/valueType :db.type/bigint
  :db/cardinality :db.cardinality/one
  :db/doc "The recipient balance"}
 ]
